#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with python2

override_dh_auto_build:

override_dh_auto_install:

override_dh_install:
	dh_install -XCOPYING

override_dh_fixperms:
	dh_fixperms
	chmod -x debian/gns3/usr/share/gns3/GNS3/Langs/*
	chmod +x debian/gns3/usr/share/gns3/GNS3/Langs/*.sh
	chmod -x debian/gns3/usr/share/gns3/GNS3/Ui/*.ui
	chmod -x debian/gns3/usr/share/gns3/GNS3/Ui/ConfigurationPages/*.ui
	chmod -x debian/gns3/usr/share/gns3/GNS3/Dynagen/*
	chmod -x debian/gns3/usr/share/gns3/GNS3/Unpack/*
